.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  color: #aaa;
  font-weight: 100;
  font-size: 32px;
}
